*{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: sans-serif;
}

.top-header{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px 5px 50px;
    background-color: black;
    color: white;
}

.top-header_button{
    display: flex;
    gap: 10px;
    padding: 8px 16px;
    letter-spacing: 2px;
    font-family: "Nunito Sans", sans-serif;
    color: white;
    background-color: rgb(34, 33, 33);
    border: none;
    font-size: 14px;
    border-radius: 14px;
}

.top-header_button:hover {
    color: black;
    background-color: white;
}

.spacer{
    flex-grow: 1;
}

.main-header{
    padding: 0;
    height: 85px;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
}

.main-header_column {   
    display: flex;
    justify-content: center;
    align-items: center;
}


#nav_buttons nav {
    display: flex;
    justify-content: center;
}

.navButton {
    margin: 40px;
    display: flex;
    gap: 10px;
    padding: 3px 6px;
    border: none;
    background-color: white;
}

#nav_buttons a {
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    color: black;
    font-size: 16px;
}

#nav_buttons a:hover {
    color: rgba(255, 0, 0, 0.863);
}

.home {
    height: 500px;
    background-image: url('./homeImg.jpg');
    background-size: cover;
    background-position: center;
}

.home {
    display: flex;
    justify-content: space-between;
    padding-top: 260px;
}

.home-content {
    height: 320px;
    width: 450px;   
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-content h6 {
    font-size: 14px;
    color: #870101;
    margin-bottom: 15px;
    position: relative;
    letter-spacing: 2px;
}

.home-content h2 {
    font-family: sanse;
    font-size: 50px;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 23px;
}

.home-content p {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 50px;
}

#shop-button {
    padding: 14px 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: black;
}

#shop-button:hover {
    color: black;
    background-color: white;
}

.featured-products {
    background-color: #f9f9f9;
    padding: 30px;
}

.featured-products h2 {
    font-size: 30px;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.product-list {
    display: flex;
    justify-content: space-around; /* It horizontally distributes the child elements within .product-list, with equal space around them. This centers the products horizontally. */
    flex-wrap: wrap; /* It allows the child elements to wrap to the next line when there's not enough horizontal space. This ensures that products wrap to the next row if the screen width is narrow. */
}

.product {
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3 ease;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.product-logo {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-logo img {
    max-width: 100%;
    max-height: 100%;
}

.product h3 {
    font-size: 20px;
    margin: 20px 0px;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: 1px;
}

.product span {
  font-size: 17px;
  font-weight: bold;
  margin-right: 40px;
  font-family: "Nunito Sans", sans-serif;
  color: #ca0000;
}

.product button {
  padding: 10px 20px;
  margin-left: 40px;
  background-color: #ca0000;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

.product button:hover {
  background-color: #a30202;
}

.view-all {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.view-all button {
  padding: 15px 30px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
}

.view-all button:hover {
  color: whites;
  background-color: #ca0000;
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    padding-top: 20px;
    height: 50px;
}

.footer pre {
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: 2px;
}
